
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
@import url('../font-awesome.css	');

body { 
	background: #fff; 
	color: #222; 
	font-size: 14px; 
	font-family: 'Roboto', sans-serif, 'Helvetica'!important; 
	line-height:1.6
}
/*Style Css*/
/*===================================================================================*/
.Wrapper {
    max-width: 1900px;
    margin: 0 auto;
    font-size: 16px;
}

.content-main{
	display: flex;
	width: 90%;
	margin:0 auto;
}
.box-content-l{
	width: 70%;
	height: 600px;
	padding:50px;
	text-align: justify;
}
.box-sticky-r{
	width: 30%;
	border:3px solid red;
	height: 500px;
	position: relative;
}
.sticky {
  background-color: yellow;
  text-align: center;
  top: 0px;
  padding:0px;

}



/*.css sticky*/
.box-sticky-css{
	height: 200px;
	border:1px solid blue;
}
.box {
  position: sticky; 
  top: 0; 
  width: 100%;
  padding: 5px 0 5px 15px;
  color: white;
  background-color: #337AB7;
  margin: 0;
}